.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main {
  padding: 0 2rem;
}

nav {
  display: flex;
  align-items: center;
  padding: 1rem;
  color: white;
  margin-bottom: 2rem;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
}

nav>p {
  font-weight: bold;
}

.nav-header {
  margin-right: auto;
  display: flex;
}

.nav-logo {
  margin-right: 0.2rem;
}

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

form>button {
  padding: 0.5rem;
  color: white;
  font-weight: 900;
  border-radius: 5px;
  font-size: 16px;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
}

.form-input {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 1rem;
}

.form-input>input {
  width: 100%;
  border: 1px solid #D5D4D8;
  border-radius: 5px;
  padding: 0.5rem;
  font-size: 16px;
}

.meme-img {
  width: 100%;
  max-height: auto;
}

.meme-img>img {
  object-fit: contain;
  width: inherit;
  height: inherit;
}

.meme-img>img:hover {
  filter: brightness(50%);
}